@model List<Pizzeria.Models.Order>
@{
    ViewBag.Title = "Orders";
}

@if (TempData["error"] != null)
{
    <p>@TempData["error"] </p>
}

<h2 class="text-center fw-bold display-5 MenuHeader">Welcome Administrator</h2>
@*<button class="btn btn-danger" onclick="fetchStats()">Today's Statistics'</button>*@
<div class="d-flex justify-content-center gap-3">
    <p class="fw-bold" style="font-size: 1.5rem;">Orders dispatched today: <span id="count"></span></p>
    <p class="fw-bold" style="font-size: 1.5rem;">Total income: <span id="total"></span>€</p>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">List</th>
            <th scope="col">Address</th>
            <th scope="col">Notes</th>
            <th scope="col">Dispatched at</th>
            <th scope="col">Controls</th>

        </tr>
    </thead>
    <tbody>
        @foreach (Pizzeria.Models.Order order in Model)
        {
            <tr>
                <th scope="row">@order.id</th>
                <td>
                    <ul>
                        @foreach (Pizzeria.Models.Food food in order.foods)
                        {
                            <li>@food.title</li>
                        }
                    </ul>
                </td>
                <td>@order.deliveryAddress</td>
                <td>@order.notes</td>
                <td>@order.completedAt</td>
                <td>
                    @if (@order.isCompleted)
                    {
                        <button class="btn btn-danger disabled">Completed</button>
                    }
                    else
                    {
                        @Html.ActionLink("Mark as completed", "Dispatch", "Admin", new { product = $"{order.id}" }, new { @class = "btn btn-danger" })
                    }

                </td>
            </tr>

        }
    </tbody>
</table>

@section scripts {
    <script type="text/javascript">
        async function fetchStats() {
            const response = await fetch('@Url.Action("Stats", "Admin")')
            const data = await response.json()
            document.getElementById("count").textContent = data.number 
            document.getElementById("total").innerText = data.money
            console.log(data)

        }
        fetchStats()
    </script>

} 