@model Pizzeria.Models.User
@{
    ViewBag.Title = "Register";

}

<h2>Register</h2>
@if (TempData["error"] != null)
{
    <p>Error: @TempData["error"]</p>
}
@using (Html.BeginForm())

{
    @Html.AntiForgeryToken()

    @Html.LabelFor(m => m.username, new { @class = "form-label" })
    @Html.EditorFor(m => m.username, new { htmlAttributes = new { @class = "form-control" } })

    @Html.LabelFor(m => m.password, new { @class = "form-label" })
    @Html.EditorFor(m => m.password, new { htmlAttributes = new { @class = "form-control" } })

    @Html.HiddenFor(m => m.isRemember, new {Value = true})

    <button class="btn btn-danger mt-3" type="submit">Proceed</button>

}
