@model Pizzeria.Models.Order
@{
    ViewBag.Title = "Cart";
}
<main class="CartBody">

    <h2 class="MenuHeader">Cart</h2>

    @if (TempData["error"] != null)
    {
        <div class="alert alert-warning d-flex align-items-center" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-diamond-fill me-1" viewBox="0 0 16 16">
                <path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
            </svg>            <div>
                @TempData["error"]
            </div>
        </div>}

    @if (ViewBag.Nothing != "empty")
    {
        <ul>

            @foreach (Pizzeria.Models.Food food in Model.foods)
            {
                <li class="CartListItem">@food.title <span>x @food.quantity</span> <span style="float: right">@(food.price*food.quantity) €</span></li>
            }
        </ul>

        <div class="text-center">
            <p class="CartTotal text-center">Total = @Model.foods.Sum(f => f.price * f.quantity)€ </p>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.LabelFor(m => m.deliveryAddress, new { @class = "form-label" })
                @Html.EditorFor(m => m.deliveryAddress, new { htmlAttributes = new { @class = "form-control d-inline" } })
                @Html.ValidationMessageFor(m => m.deliveryAddress)

                @Html.LabelFor(m => m.notes, new { @class = "form-label" })
                @Html.EditorFor(m => m.notes, new { htmlAttributes = new { @class = "form-control d-inline" } })
                @Html.ValidationMessageFor(m => m.notes)

                <div>
                    <button class="btn btn-danger mt-3 d-inline" type="submit">Complete Order</button>
                </div>
            }

        </div>


    }
    else
    {
        <p>@ViewBag.Nothing</p>
    }

</main>
